.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #241748;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e6faf8;
}

.App-header h1 {
  margin: 2rem 0 0 0;
}

button {
  color: #ec4815;
  text-decoration: underline;
  border: 1.5px solid #ec4815;
  border-radius: 2rem;
  background: transparent;
  font-family: system-ui, sans-serif;
  font-size: inherit;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 1rem 1.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
